# Environments
.venv/
__pycache__/

# Folders (Better to keep these unique)
franka_emika_panda/
saves/
saves_v1/
videos/
videos_v2/
videos v2/
4m_timestep/
fetch_reach_saves/


# Specific Files
MJMODEL.TXT
MUJOCO_LOG.TXT

# File types
*.ipynb